<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<web-app>
	<servlet>
		<servlet-name>RegServlet</servlet-name>
		<servlet-class>test.RegServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegServlet</servlet-name>
		<url-pattern>/reg</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>test.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/log</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DisServlet</servlet-name>
		<servlet-class>test.DisServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisServlet</servlet-name>
		<url-pattern>/dis</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserHomeServlet</servlet-name>
		<servlet-class>test.UserHomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserHomeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetProductsServlet</servlet-name>
		<servlet-class>test.GetProductsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetProductsServlet</servlet-name>
		<url-pattern>/getproducts</url-pattern>
	</servlet-mapping>	

	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>test.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>	

	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>
</web-app>	